[Unit]
Description=Run NeuraNet news crawler every 30 minutes

[Timer]
OnCalendar=*:0/30
Persistent=true
RandomizedDelaySec=60
Unit=lhqb-news-crawler.service

[Install]
WantedBy=timers.target
